<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Tutor On My Time</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700" rel="stylesheet">
	<script src="https://use.fontawesome.com/c0a3186a39.js"></script>
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
	<link rel="stylesheet" href="./assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/form-basic.css">

</head>

<body>
  <body data-spy="scroll" data-target="#navigation_bar">
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Choose Your Tutor</h1>
      <h5 class="text-center" style="line-height: 22px;">Tutor On My Time is pleased to offer you the ability to search the right tutor for your needs. <br/> Once you find the right tutor, choose the tutor and the tutor will respond within 24 hours.</h5>
    </div>
    <div>
		<div class="col-md-2"></div>
        <div class="col-md-8" style="background-color: #F9F9F9; border: solid 1px #757575; margin-bottom: 15%; border-radius: 5px">
            <h3 id="section-1">Tutor 1</h3>
            <div class="row">
			  <div class="col-lg-6">
			    <div class="input-group">
			        <input type="checkbox" aria-label="...">
						<p> Tutor 1 Information here</p>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</p>
            <hr>
            <h3 id="section-2">Tutor 2</h3>
            <p><div class="row">
			  <div class="col-lg-6">
			    <div class="input-group">
			        <input type="checkbox" aria-label="...">
						<p> Tutor 2 Information here</p>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</p>
            <hr>
            <h3 id="section-3">Tutor 3</h3>
            <p><div class="row">
			  <div class="col-lg-6">
			    <div class="input-group">
			        <input type="checkbox" aria-label="...">
						<p> Tutor 3 Information here</p>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</p>
            <hr>
            <h3 id="section-4">Tutor 4</h3>
            <p><div class="row">
			  <div class="col-lg-6">
			    <div class="input-group">
			        <input type="checkbox" aria-label="...">
						<p> Tutor 4 Information here</p>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</p>
            <hr>
            <h3 id="section-5">Tutor 5</h3>
            <p><div class="row">
			  <div class="col-lg-6">
			    <div class="input-group">
			        <input type="checkbox" aria-label="...">
						<p> Tutor 5 Information here</p>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
            <hr>
              <div class="form-row text-center">
                <button type="submit" class="btn" style="color: white; background-color: #355166">Submit Form</button>
              </div>
            <br>
        </div>
       	<div class="col-md-2"></div>
  </div>
 </div>
</body>

	<footer class="footer">
	  <div class="container" style=" text-align: center; margin-bottom: 3%;">
	    <span class="text-muted" style="color: #BFBFBF"> &copy; 2017 Hilton C., Andrea B. & Dain L. </span>
	  </div>
	</footer>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'></script>
	<script src="./assets/js/index.js"></script>
</body>
</html>
